body {
    background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjwztbAwKnfAhWL11kKHfTyBLsQjRx6BAgBEAU&url=http%3A%2F%2Fdripdrizzapresents.com%2Fhome%2Fslider-3%2F&psig=AOvVaw3S7nBlXHbRcrfl501wkCPZ&ust=1545226728840566') repeating-linear-gradient(rgb(59, 2, 45), rgb(94, 15, 88), rgb(214, 195, 216));
    background-repeat: no-repeat;
    background-position: center;
   } 
#aligner {
    width: 70%;
    margin: 0 auto;
    margin-top: 90;
  }
  table {
      background-image: repeating-linear-gradient(rgb(59, 2, 45), rgb(94, 15, 88), rgb(128, 117, 129));
      border: 1px solid black;
      color: white;
      font-size: large;
  }